body{
    margin:0;
    padding:0;
    background-image:url(../img/negro.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: white;
}
.perfil{
    width: 200px;
    height: 200px;
}
.apartados a{
    display: block;
    color: aqua;
}

