body{
    height: 1000px;
    width: 1000px;
    background-image:url(../img/ip.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: yellow;
}